/* ./assets/js/classList.js */
/* .h1 {
  border: 1px solid black;
}
.task {
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 0 5px grey;
}
.redTask {
  color: red;
}
.greenTask {
  color: green;
}
.doneTask {
  text-decoration: line-through;
}

div {
  padding: 20px;
  border: 1px solid red;
} */

/* ./assets/js/dataFetching.js */
/* body {
  padding: 10px;
}
article {
  margin: 100px auto 0;
  padding: 40px;
  font-size: 36px;
  text-align: center;
  font-family: sans-serif;
  border-radius: 25px;
  box-shadow: 0 0 5px purple;
} */

/* ./assets/js/createElement.js */

:root {
  font-family: sans-serif;
  --user-img-size: 100px;
}

.userCard {
  display: flex;
  gap: 15px;
  align-items: center;
  box-shadow: grey 0 0 5px;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
}

.userImg {
  width: var(--user-img-size);
  height: var(--user-img-size);
  border-radius: 50%;
  border: 2px solid violet;
}

.userName {
}

.userAge {
  color: grey;
}

.trashIcon {
  margin-left: auto;
}
